body {
  background-color: rgba(0, 0, 0, 0.521);
  display: grid;
  place-items: center;
}

input {
  margin: 1%;
}

.game-container {
  background-color: rgba(55, 211, 68, 0.767);
  display: grid;
  place-items: center;
  grid-template-columns: 14vw 14vw 14vw;
  grid-template-rows: 14vw 14vw 14vw;
  margin-left: auto;
  margin-right: auto;
}

.game-square {
  outline: 1vmin solid black;
  height: 12vw;
  width: 12vw;
}

.WhitePlayer {
  background-color: hsla(0, 0%, 100%, 0.945);
}

.BlackPlayer {
  background-color: hsla(226, 89%, 33%, 0.76);
}

.connected,
.ready {
  font-weight: normal;
}
