:root {
  --side: 305px;
  --littleSide: 100px;
}

body {
  background-color: rgba(0, 0, 0, 0.521);
  text-align: center;
}

.game-container {
  height: var(--side);
  width: var(--side);
  background-color: rgba(2, 2, 105, 0.589);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.game-square {
  width: var(--littleSide);
  height: var(--littleSide);

  outline: 7px solid black;
}

.Player1 {
  background-color: rgba(238, 227, 192, 0.678);
}

.Computer {
  background-color: rgba(3, 12, 41, 0.555);
}

.connected,
.ready {
  font-weight: normal;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: crimson;
}

span.green {
  background: darkgreen;
}
