body {
  background-color: rgba(0, 0, 0, 0.521);
  text-align: center;
}

.game-container {
  background-color: rgba(55, 211, 68, 0.767);
  width: 60vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  margin-left: auto;
  margin-right: auto;
}
.game-square {
  outline: 1vmin solid black;
  height: 20vmin;
  width: 20vmin;
}

.WhitePlayer {
  background-color: hsla(0, 0%, 100%, 0.945);
}
.BlackPlayer {
  background-color: hsla(226, 89%, 33%, 0.76);
}

.connected,
.ready {
  font-weight: normal;
}
